<!doctype html>

<html>
<head>
	<title>Add New Hangout</title>  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/poll.css">
	 
</head>

<body>

	<div class="header">
		<center>
			<table>
				<tr>
					<td width="50" align="center">
						<button type="button" class="btn btn-default" onclick="window.location.href='/'">
							<span class="glyphicon glyphicon-arrow-left"></span>
						</button>
					</td>
					<td align="center"><p>Add New Hangout</p></td>
					<td width="50" align="right"></td>
				</tr>
			</table>
		</center>
	</div>


	<div class="main">

		<!-- Header placeholder so that header bar doesn't cover content -->
		<div class="headerPlaceholder"></div>
		<br>
		<br>

		<!-- Content goes here -->
		<center>

			
			{{#if missingFields}}
				<strong><FONT COLOR="blue">* Required Fields</FONT></strong><br><br>
			{{/if}}

			<form role="form" method="post" action="/pollOptions">
				<input type="hidden" id="type" name="type" value="event">
				<div class="form-group">
					{{#if missingTitle}}
						<label for="question"><strong><font color="blue">Please Input an Hangout Title</font></strong></label>
					{{else}}
						<label for="question">Hangout Title</label>
					{{/if}}
					{{#if title}}
						<input type="text" class="form-control" name="title" value="{{title}}">
					{{else}}
						<input type="text" class="form-control" name="title" placeholder="Hangout Title (required)">
					{{/if}}
				</div>
				<div class="form-group">
					{{#if missingDescription}}
						<label for="description"><strong><font color="blue">* Please input a Description</font></strong></label>
					{{else}}
						<label for="description">Hangout Description</label>
					{{/if}}
					{{#if description}}
						<input type="text" class="form-control" name="description" value="{{description}}">
					{{else}}
						<input type="text" class="form-control" name="description" placeholder="Hangout Description (required)">
					{{/if}}
				</div>
				
				{{#if needMorePlaces}}
					<label for="choices"><font color="blue">* Please input at least two options</font></label>
				{{else}}
					<label for="choices">Locations </font></label>
				{{/if}}
				<div class="form-group">
					{{#if place1}}
						<input type="text" class="form-control" name="place1" value="{{place1}}">
					{{else}}
						<input type="text" class="form-control" name="place1" placeholder="Location 1 (required)">
					{{/if}}
				</div>
				<div class="form-group">
					{{#if place2}}
						<input type="text" class="form-control" name="place2" value="{{place2}}">
					{{else}}
						<input type="text" class="form-control" name="place2" placeholder="Location 2 (required)">
					{{/if}}
				</div>
				<div class="form-group">
					{{#if place3}}
						<input type="text" class="form-control" name="place3" value="{{place3}}">
					{{else}}
						<input type="text" class="form-control" name="place3" placeholder="Location 3">
					{{/if}}
				</div>
				<button type="submit" class="btn btn-default">Next</button>
			</form>

		</center>
		<!-- End Content -->

		<!-- Footer placeholder so that link bar doesn't cover content -->
		<div class="footerPlaceholder"></div>

	</div>

	<div class="bar">
		<center>
			<div class="btn-group btn-group-justified">
  				<div class="btn-group">
    				<a href="/myevents"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-glass"></span><br>myHangouts</button></a>
  				</div>
  				<div class="btn-group">
    				<a href="/events"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-globe"></span><br>Hangouts<br></button></a>
  				</div>
  				<div class="btn-group">
    				<a href="/people"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span><br>Community<br></button></a>
  				</div>
  				<div class="btn-group">
    				{{#if user}}<a href="/profile/{{user.id}}">{{else}}<a href="/profile">{{/if}}
    				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span><br>Profile</button></a>
  				</div>
			</div>
		</center>
	</div>
	
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48674675-1', 'pollnow.herokuapp.com');
  ga('send', 'pageview');

</script> -->
</body>
</html>