<!doctype html>

<html>
<head>
	<title>Stanford Students</title>  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/poll.css">
	 
</head>

<body>
	<div class="header">
		<center>
			<table>
				<tr>
					<td width="50" align="left"><img src="http://magoosh.com/gre/files/2013/07/stanford_logo.png"></td>
					<td align="center"><p>Stanford Community</p></td>
					<td width="50" align="center"></td>
				</tr>
			</table>
		</center>
	</div>


	<div class="main">

		<!-- Header placeholder so that header bar doesn't cover content -->
		<div class="headerPlaceholder"></div>
			<br>
			
		<!-- Content goes here -->
		<center>

			

			{{#each people}}
				<div class="event">
					<a href="/profile/{{id}}">
						<table>
							<tr>
								<td width="75"><img src="{{photo}}" class = "img-rounded"></td>
								<td align="center" valign="center"><h3>{{name}}</h3></td>
							</tr>
						</table>
					</a><br><hr style="color:#000033;width:100%"><br>
				</div>
				
			{{/each}}

		</center>
		<!-- End Content -->

		<!-- Footer placeholder so that link bar doesn't cover content -->
		<div class="footerPlaceholder"></div>

	</div>

	<div class="bar">
		<center>
			<div class="btn-group btn-group-justified">
  				<div class="btn-group">
    				<a href="/myevents"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-glass"></span><br>myHangouts</button></a>
  				</div>
  				<div class="btn-group">
    				<a href="/events"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-globe"></span><br>Hangouts<br></button></a>
  				</div>
  				<div class="btn-group">
    				<a href="/people"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span><br>Community<br></button></a>
  				</div>
  				<div class="btn-group">
    				{{#if user}}<a href="/profile/{{user.id}}">{{else}}<a href="/profile">{{/if}}
    				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span><br>Profile</button></a>
  				</div>
			</div>
		</center>
	</div>

	
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
<!--	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48674675-1', 'pollnow.herokuapp.com');
  ga('send', 'pageview');

</script> -->
</body>
</html>
