<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo Portfolio</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
    <script src="js/ratio.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.exif.js"></script>
  </head>
  <body>
   
  	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/photo">Photos</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Never Stop Exploring</h1>
            <p class="lead">"Photography takes an instant out of time, altering life by holding it still." - Dorothea Lange</p>
            
            <ul class="gallery">
              
              {{#each photos}}
                <li>
                  <img id="{{this.id}}" src="images/{{this.id}}_small.JPG">
                  <h3>{{this.location}}</h3>
                  <p id="{{this.id}}_info">Photo Description</p>
                </li>

                <script>
                  $('#{{this.id}}').load(function(){
                  var photo = $(this);
                  photo.exifLoad(function(){
                    //var info = 'Location: {{this.location}}' + '<br><br>';
                    var info = '';

                    var model = photo.exif('Model');
                    info += 'Camera: ' + model + '<br>';

                    var fl = photo.exif('FocalLength');
                    info += 'Focal Length: ' + fl + 'mm' + '<br>';
                    
                    var fnum = photo.exif('FNumber');
                    info += 'Aperture: f/' + fnum + '<br>';

                    var et = photo.exif('ExposureTime');
                    var ss;
                    if (et > 1){
                      ss = et;
                    }
                    else {
                      ss = Ratio.parse(et).simplify().toString();
                    }
                    info += 'Shutter Speed: ' + ss + 's' + '<br>';

                    var iso = photo.exif('ISOSpeedRatings');
                    info += 'ISO: ' + iso;

                    $('#{{this.id}}_info').html(info).css('display', 'block');

                  });
                });

                </script>

              {{/each}}

              <!--
              <li>
                <img id="52" src="images/DSC_0052.JPG">
                <h3>Ghiradelli Square</h3>
                <p>The front face of the iconic San Francisco square</p>
                <p id="52-model"></p>
                <p id="52-ss"></p>
                <p id="52-av"></p>
                <p id="52-iso"></p>
                <p id="52-fl"></p>
              </li>
              <li>
                <img src="images/DSC_0070.JPG">
                <h3>Seafood & Steaks</h3>
                <p>A long exposure shot of the sky behind McCormick Killion</p>
              </li>
              <li>
                <img src="images/DSC_0089.JPG">
                <h3>A quiet dinner</h3>
                <p>The San Francisco sunset through the glass walls of McCormick Killion</p>
              </li>
              -->

            </ul>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="js/jquery-1.8.3.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.exif.js"></script>-->

    <!--<script>
      {{#each photos}}
        $('#{{this.id}}').load(function(){
          var photo = $(this);
          photo.exifLoad(function(){
            //var info = 'Location: {{this.location}}' + '<br><br>';
            var info = '';

            var model = photo.exif('Model');
            info += 'Camera: ' + model + '<br>';

            var fl = photo.exif('FocalLength');
            info += 'Focal Length: ' + fl + 'mm' + '<br>';
            
            var fnum = photo.exif('FNumber');
            info += 'Aperture: f/' + fnum + '<br>';

            var et = photo.exif('ExposureTime');
            var ss;
            if (et > 1){
              ss = et;
            }
            else {
              ss = Ratio.parse(et).simplify().toString();
            }
            info += 'Shutter Speed: ' + ss + 's' + '<br>';

            var iso = photo.exif('ISOSpeedRatings');
            info += 'ISO: ' + iso;

            $('#{{this.id}}_info').html(info);
          });
        });
      {{/each}}
    </script>-->
  </body>
</html>