  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="author" content="Daniel Jih"> -->
    <meta property="og:site_name" content="Daniel Jih Photography"/>
    <meta property="og:title" content="{{photo.title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Photo taken in {{photo.location}} on {{photo.date}} by Daniel Jih. Camera settings: {{photo.camera}}, {{photo.focal_length}}, {{photo.shutter_speed}}, {{photo.aperture}}, ISO {{photo.iso}}."/>
    <meta name="description" content="Photo taken in {{photo.location}} on {{photo.date}} by Daniel Jih. Camera settings: {{photo.camera}}, {{photo.focal_length}}, {{photo.shutter_speed}}, {{photo.aperture}}, ISO {{photo.iso}}.">
    <meta property="og:image" content="https://dl.dropboxusercontent.com/{{photo.dropbox_url}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="{{photo.width}}" />
    <meta property="og:image:height" content="{{photo.height}}" />

    <meta property="og:url" content="http://www.danieljih.com/photo/{{photo.id}}">
    <title>{{photo.title}}</title>
    <link rel="image_src" href="https://dl.dropboxusercontent.com/{{photo.dropbox_url}}" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--<script src="/js/jquery.exif.js"></script>-->
    <script src="/js/jquery.magnific-popup.min.js" rel="stylesheet"></script>
    <script type="text/javascript">
      var albumId = '{{album_id}}';
      var photoId = '{{photo.id}}';
    </script>
    <script src="/js/script.js"></script>

    <script type="text/javascript">
      (function(t,e){var n=t.amplitude||{};var r=e.createElement("script");r.type="text/javascript";
      r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.8.0-min.gz.js";
      r.onload=function(){t.amplitude.runQueuedFunctions()};var s=e.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(r,s);var i=function(){this._q=[];return this};function o(t){
      i.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
      return this}}var a=["add","append","set","setOnce","unset"];for(var u=0;u<a.length;u++){o(a[u]);
      }n.Identify=i;n._q=[];function c(t){n[t]=function(){n._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
      }}var l=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify"];
      for(var p=0;p<l.length;p++){c(l[p])}t.amplitude=n})(window,document);

      amplitude.init("{{API_KEY}}", null, {'includeReferrer': true}, function() {
        var eventProperties = {
          'albumId': albumId,
          'photoId': photoId
        };
        amplitude.logEvent('View Photo Page', eventProperties);
      });
    </script>
  </head>
  <body>

  <div class="body-wrapper">
    <div class="header" id="header">
      <div class="header-background" id="header-background"></div>
      <div class="header-content">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true" id="toggle-sidebar"></span>
        <a href="/" title="Daniel Jih Photography">
          <h1>Daniel Jih Photography</h1>
        </a>
      </div>
    </div>

    <div class="sidebar" id="sidebar">
      <ul class="sidebar-nav">
        <li>
          <div class="close-icon">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" id="close-sidebar"></span>
          </div>
        </li>
        <li class="headshot">
          <img src="/images/headshot.JPG">
          <a href="/" title="Daniel Jih Photography">
            <h1>Daniel Jih</h1>
          </a>
        </li>
        <li>
          <a href="/travel" title="Travel" class="nav{{#if travel}} active{{/if}}">Travel</a>
        </li>
        <li>
          <a href="/food" title="Food" class="nav{{#if food}} active{{/if}}">Food</a>
        </li>
        <li>
          <a href="/blog" title="Blog" class="nav">Blog</a>
        </li>
        <li>
          <a href="/aboutme" title="About Me" class="nav">About Me</a>
        </li>

      </ul>
    </div>


    <div class="content" id="content">

      <div class="masthead" id="masthead">
        <img src="https://dl.dropboxusercontent.com/{{cover_photo}}" id="masthead-photo">
        <div class="masthead-text-wrapper">
          <h1>{{city}}</h1>
          <h3>{{date}}</h3>
          <button type="button" id="jump-button">View</button>
        </div>
      </div>


      <ul class="gallery">

        {{#each photos}}
          <a href="https://dl.dropboxusercontent.com/{{this.dropbox_url}}" id="img_{{this.id}}_link" class="gallery-popup-link">
            <li class="img-li">
              <div class="img-details-wrapper">
                <img src="https://dl.dropboxusercontent.com/{{this.dropbox_url}}" class="img-album" id="img_{{this.id}}">
              </div>
            </li>
            <div class="img_data" id="{{this.id}}" location="{{this.location}}" camera="{{this.camera}}" focal="{{this.focal_length}}" aperture="{{this.aperture}}" shutter="{{this.shutter_speed}}" iso="{{this.iso}}" title="{{this.title}}"></div>
          </a>
        {{/each}}
      </ul>

      <script>
        $('.gallery-popup-link').magnificPopup({
          type: 'image',
          gallery: {
            enabled: true,
            navigateByImgClick: true,
            arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
          },
          image: {
            verticalFit: true,
            titleSrc: function(item){
              var data = item.el.children('.img_data');
              return '<strong>' + data.attr('title') + '</strong>  -  ' + data.attr('location') + ', ' + data.attr('camera') + ', ' + data.attr('focal') + ', ' + data.attr('aperture') + ', ' + data.attr('shutter') + ', ISO ' + data.attr('iso')  + ', <a href="/photo/' + data.attr('id') + '">Link</a>';
            }
          },
          callbacks: {
            change: function() {
              var eventProperties = {
                'photoId': this.currItem.el.children('.img_data').attr('id'),
                'albumId': albumId
              }
              amplitude.logEvent('Viewed Image', eventProperties);
            }
          }
        });

        {{#if from_photo}}
          $('.gallery-popup-link').magnificPopup('open', {{gallery_index}});
        {{/if}}
      </script>

    </div>

  </div>

  </body>
</html>
