<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daniel Jih Photography</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">

    <!--<script src="js/ratio.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/jquery.exif.js"></script>-->
    <script src="js/jquery.magnific-popup.min.js" rel="stylesheet"></script>
    <script src="js/script.js"></script>
  </head>
  <body>

  <div class="body-wrapper">
    <div class="header" id="header">
      <div class="header-background" id="header-background"></div>
      <div class="header-content">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true" id="toggle-sidebar"></span>
        <a href="/v2" title="Daniel Jih Photography">
          <h1>Daniel Jih Photography</h1>
        </a>
      </div>
    </div>

    <div class="sidebar" id="sidebar">
      <ul class="sidebar-nav">
        <li>
          <div class="close-icon">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" id="close-sidebar"></span>
          </div>
        </li>
        <li class="headshot">
          <img src="images/headshot.JPG">
          <a href="/v2" title="Daniel Jih Photography">
            <h1>Daniel Jih</h1>
          </a>
        </li>
        <li>
          <a href="/travel" title="Travel" class="nav active">Travel</a>
        </li>
        <li>
          <a href="/food" title="Food" class="nav">Food</a>
        </li>
        <li>
          <a href="/blog" title="Blog" class="nav">Blog</a>
        </li>
        <li>
          <a href="/aboutme" title="About Me" class="nav">About Me</a>
        </li>

      </ul>
    </div>


    <div class="content" id="content">
      <br>
      <h1 class="cover-heading">Never Stop Exploring</h1>
      <p class="lead">"Photography takes an instant out of time, altering life by holding it still." - Dorothea Lange</p>

      <ul class="gallery">
              
        {{#each photos}}
          <a href="#" id="{{this.filename}}_link" title="{{this.location}}">
            <li>
              <img id="{{this.filename}}" src="images/{{this.filename}}_small.JPG">
              <h3>{{this.location}}</h3>
              <h3>{{this.title}}</h3>
              <p id="{{this.filename}}_info" style="display:block">
                {{this.location}} - {{this.city}}<br>{{this.date_taken}}
              </p>
            </li>
          </a>
          <script>
            $('#{{this.filename}}_link').click(function(e){
              e.preventDefault();
            });

            $('#{{this.filename}}').load(function(){
              $('#{{this.filename}}_link').magnificPopup({
                disableOn: 480,
                closeOnContentClick: true,
                closeOnBgClick: true,
                showCloseBtn: true,
                items: {
                  src: 'images/{{this.filename}}.JPG',
                },
                type: 'image',
                image: {
                  verticalFit: true,
                  titleSrc: function(){return '<strong>{{this.title}}</strong>  -  {{this.camera}}: {{this.focal_length}}mm, f/{{this.aperture}}, {{this.shutter_speed_fraction}} second, ISO {{this.iso}}';}
                },
                mainClass: 'mfp-img-mobile'
              });
            });

          </script>
        {{/each}}
      </ul>

      <div class="copyright">
        <p>All images &#169; 2014 Daniel Jih</p>
      </div>
        
    </div>

  </div>

  </body>
</html>






    <!--
    <script>
      var photo_json = [];

      var formatExifDateTime = function(d){
        date = d.split(' ')[0];
        parts = date.split(':');
        return parts[1]+'/'+parts[2]+'/'+parts[0];
      };

      var addPhotoInfoFromExif = function(id, photo){
        var model = photo.exif('Model')[0];
        var fl = photo.exif('FocalLength');
        var fnum = photo.exif('FNumber');
        var et = photo.exif('ExposureTime');
        var ss = ((et > 1) ? et : Ratio.parse(et).simplify().toString());
        var iso = photo.exif('ISOSpeedRatings')[0];
        var date = formatExifDateTime(photo.exif('DateTime')[0]);

        var info = 'Camera: ' + model + '<br>' + 
          'Focal Length: ' + fl + 'mm' + '<br>' + 
          'Aperture: f/' + fnum + '<br>' +
          'Shutter Speed: ' + ss + 's' + '<br>' +
          'ISO: ' + iso + '<br>' +
          'Date: ' + date;

        $('#'+id+'_info').html(info).css('display', 'block');

        photo_dict = {};
        photo_dict['file'] = id;
        photo_dict['camera'] = model;
        photo_dict['focal_length'] = fl + 'mm';
        photo_dict['aperture'] = 'f/' + fnum;
        photo_dict['shutter_speed'] = ss + 's';
        photo_dict['iso'] = iso;
        photo_dict['date_taken'] = date;

        photo_json.push(photo_dict)
      }

    </script>
  -->

<!--   </head>
  <body>
   
  	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="sort-photo-button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-th-large" id="sort-photo-icon"></span>
                <span id="sort-photo-span">Sort Photos <span class="caret"></span></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
                <li role="presentation" class="dropdown-header">Sort Photos By:</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=date">Most Recent</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=location">Location</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=title">Title</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=focal_length">Focal Length</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=aperture">Aperture</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=shutter_speed">Shutter Speed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{self.url}}?sort_by=iso">ISO</a></li>
              </ul>
            </div>
            <h1 class="cover-heading">Never Stop Exploring</h1>
            <p class="lead">"Photography takes an instant out of time, altering life by holding it still." - Dorothea Lange</p>
            
            <ul class="gallery">
              
              {{#each photos}}
                <a href="#" id="{{this.filename}}_link" title="{{this.location}}">
                  <li>
                    <img id="{{this.filename}}" src="images/{{this.filename}}_small.JPG">
                    <h3>{{this.location}}</h3>
                    <h3>{{this.title}}</h3>
                    <p id="{{this.filename}}_info" style="display:block">
                      {{this.location}} - {{this.city}}<br>{{this.date_taken}}
                    </p>
                  </li>
                </a>
                <script>
                  $('#{{this.filename}}_link').click(function(e){
                    e.preventDefault();
                  });

                  $('#{{this.filename}}').load(function(){
                    $('#{{this.filename}}_link').magnificPopup({
                      disableOn: 480,
                      closeOnContentClick: true,
                      closeOnBgClick: true,
                      showCloseBtn: true,
                      items: {
                        src: 'images/{{this.filename}}.JPG',
                      },
                      type: 'image',
                      image: {
                        verticalFit: true,
                        titleSrc: function(){return '<strong>{{this.title}}</strong>  -  {{this.camera}}: {{this.focal_length}}mm, f/{{this.aperture}}, {{this.shutter_speed_fraction}} second, ISO {{this.iso}}';}
                      },
                      mainClass: 'mfp-img-mobile'
                    });
                  });

                </script>
              {{/each}}
            </ul>

          <div class="copyright">
            <p>All images &#169; 2014 Daniel Jih</p>
          </div>
        </div>

      </div>

    </div>


  </body>
</html> -->